node_modules
.next
coverage
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.vercel
